body {
  background-color: rgb(218, 218, 218);
  font-family: 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
  background-color: rgb(202, 196, 199);
  margin: 0 auto;
  max-width: 1024px;
  min-width: 680px;
  border-radius: 10px;
}

.photo-portfolio {
  width: 35%;
  border-radius: 5%;
  -webkit-box-shadow: 4px -3px 42px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px -3px 42px -13px rgba(0,0,0,0.75);
  box-shadow: 4px -3px 42px -13px rgba(0,0,0,0.75);
}

.intro {
  display: flex;
  justify-content: space-between;

}

.name {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-left: 100px;
  color: rgb(70, 65, 60);
}

.photo {
  text-align: center;
  margin-top: 30px;

}

.nav-bar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-right: 5%;
  font-size: 19px;
  font-weight: bold;
  color: rgb(99, 22, 99);
}

.nav-bar li:hover {
  -webkit-box-shadow: 5px -3px 55px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px -3px 55px 3px rgba(0,0,0,0.75);
  box-shadow: 5px -3px 55px 3px rgba(0,0,0,0.75);
}

h3 {
  font-size: 32px;
  font-weight: 700;
  margin: 20px 0 10px 50px;
  color: rgb(82, 73, 73);
}

.contacts {
  margin-top: 50px;

}

.contact-info li {
  list-style: none;
  font-size: 24px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(99, 22, 99);
}

span {
  font-size: 24px;
  font-weight: bold;
}
